@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');


*{
    font-family: "Oswald", sans-serif;
}

body{
    padding: 0;
    margin: 0;
}
.header{
    background-color: rgb(82, 204, 194);
    text-align: center;
    color: whitesmoke;
    padding: 10px;
}

button{
    font-size: large;
    background-color: #d8db1522;
    border-radius: 10px;
    border-style: solid;
    transition: transform 0.2 ease-in-out;
    cursor: pointer;
}

button:hover{
    transform: scale(1.02);
}

button:active{
    transform: scale(0.98);
}

.title{
    font-size: xx-large;
    margin: 0;
    display: inline;
}

.logout {
    position: absolute;
    right: 40px;
    top: 15px;
}

.create-article{
    position: absolute;
    left: 40px;
    top: 15px;
}

.articles{
    padding: 0.5%;
}

.article{
    color: whitesmoke;
    background-color: rgb(124, 216, 185);
    margin: 0.5;
    padding: 0.5%;
    border-radius: 10px;
}